Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.

In [7]:
def next_in_line(l,num):
    '''
    takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ &quot;No list has been selected&quot;
    '''
    if len(l)==0:
        return "No list has been selected"
    l.pop(0)
    l.append(num)
    return l

In [8]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [9]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [10]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [11]:
next_in_line([], 6)

'No list has been selected'

Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.

In [12]:
def get_budgets(l):
    '''
    takes a list of dictionaries and returns the sum of people&#39;s budgets.

    '''
    sum=0
    for i in l:
        sum=sum+i["budget"]
    else:
        return sum

In [22]:
get_budgets([
    { "name": "John", "age": 21, "budget": 23000 },
    { "name": "Steve", "age": 32, "budget": 40000 },
    { "name": "Martin", "age": 16, "budget": 2700 }
])

65700

In [23]:
get_budgets([
    { "name": "John", "age": 21, "budget": 29000 },
    { "name": "Steve", "age": 32, "budget": 32000 },
    { "name": "Martin", "age": 16, "budget": 1600 }
])

62600

Create a function that takes a string and returns a string with its letters in alphabetical order.

In [53]:
def alphabet_soup(string):
    '''
    takes a string and returns a string with its letters in alphabetical order.
    '''
    string=str(sorted(string))
    string=((string.removeprefix('[')).removesuffix(']')).replace(',','').replace("'","").replace(" ","")
    return string

In [54]:
alphabet_soup("hello")

'ehllo'

In [55]:
alphabet_soup("edabit")

'abdeit'

In [56]:
alphabet_soup("hacker")

'acehkr'

Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.

In [71]:
def compound_interest(p,t,r,n):
    import numpy as np
    '''
    that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.
    '''
    CI=np.round(p*((1+(r/n))**(n*t)),2)
    return CI

In [72]:
compound_interest(100, 1, 0.05, 1)

105.0

In [73]:
compound_interest(10000, 10, 0.06, 12)

18193.97

In [74]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [75]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

Write a function that takes a list of elements and returns only the integers.

In [85]:
def return_only_integer(l):
    '''
    takes a list of elements and returns only the integers.
    '''
    m=l.copy()
    for i in l:
        if type(i)!=int:
            m.remove(i)
    else:
        return m

In [87]:
return_only_integer([9,2,"spave","car","lion",16,"121",True])

[9, 2, 16]