Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [11]:
def is_symmetrical(val):
    '''
    takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
    '''
    if str(val)==str(val)[::-1]:
        return True
    else:
        return False

In [12]:
is_symmetrical(7227)

True

In [13]:
is_symmetrical(12567)

False

In [14]:
is_symmetrical(44444444)

True

In [15]:
is_symmetrical(9939)

False

In [16]:
is_symmetrical(1112111)

True

Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [38]:
def multiply_nums(s):
    '''
    Given a string of numbers separated by a comma and space, return the product of the
numbers.
    '''
    l=s.split(',')
    res=1
    for i in l:
        res=res* int(i)
    else:
        return res

In [39]:
multiply_nums("2, 3")

6

In [40]:
multiply_nums("1, 2, 3, 4")

24

In [41]:
multiply_nums("54, 75, 453, 0")

0

In [42]:
multiply_nums("10, -2")

-20

Create a function that squares every digit of a number.

In [47]:
def square_digits(num):
    '''
    squares every digit of a number.
    '''
    s1=""
    for i in str(num):
        s1=s1+str(int(i)**2)
    else:
        return int(s1)

In [44]:
square_digits(9119)

811181

In [45]:
square_digits(2483)

416649

In [46]:
square_digits(3212)

9414

Create a function that sorts a list and removes all duplicate items from it.

In [57]:
def setify(l):
    '''
    sorts a list and removes all duplicate items from it.
    '''
    return list(sorted(set(l)))

In [53]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [54]:
setify([4, 4, 4, 4])

[4]

In [55]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [56]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Create a function that returns the mean of all digits.

In [73]:
def mean(num):
    '''
    returns the mean of all digits.
    '''
    l=list(str(num))
    sum1=0
    for i in l:
        sum1=sum1+int(i)
    else:
        return int(sum1/len(l))

In [70]:
mean(42)

3

In [71]:
mean(12345)

3

In [72]:
mean(666)

6