Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

In [41]:
def filter_list(l):
    '''
    takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.
Examples
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []
    '''
    m=l.copy()
    for i in l:
        if type(i)==str:
            m.remove(i)
    else:
        return m

In [42]:
filter_list([1,2,3,'a','b',4])

[1, 2, 3, 4]

In [43]:
filter_list(["A",0,"hjdsh",1720,"Python","1729"])

[0, 1720]

In [44]:
filter_list(["esff","edas","bhdj"])

[]

Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

In [45]:
def add_indexes(l):
    '''
    returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]
    '''
    for i in range(len(l)):
        l[i]=l[i]+i
    else:
        return l

In [46]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [47]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [48]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [58]:
def cone_volume(height,radius):
    '''
    Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0
    '''
    import math
    from numpy import round
    math.pi
    if height!=0 and radius!=0:
        return round(((height*math.pi*radius*radius)/3),2)
    else:
        return 0

In [59]:
cone_volume(3, 2)

12.57

In [60]:
cone_volume(15, 6)

565.49

In [61]:
cone_volume(18, 0)

0

Write a function that gives the number of dots with its corresponding triangle number of the
sequence.This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

In [65]:
def triangle(value):
    '''
    This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.

This function gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220
    '''
    n=0
    for i in range(1,value+1):
        n=n+i
    else:
        return n

In [66]:
triangle(1)

1

In [67]:
triangle(6)

21

In [68]:
triangle(215)

23220

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.

In [69]:
def missing_num(l):
    '''
    takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7
    '''
    for i in range(1,11):
        if i not in l:
            return i

In [70]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [71]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [72]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7